go 1.25.3

use (
	./pkg
	./proto/gen/comet
	./proto/gen/feed
	./proto/gen/interaction
	./proto/gen/notify
	./proto/gen/user
	./services/comet
	./services/feed
	./services/gateway
	./services/interaction
	./services/notify
	./services/user
)
